---
import MainLayout from "../../layouts/Mainlayout.astro";
---

<MainLayout lang="en">
    <section id="about">
        <h1>About me</h1>
    </section>

    <section id="projects">
        <h1>Projects</h1>
    </section>

    <section id="formation">
        <h1>Academic background</h1>
    </section>
</MainLayout>
