---
import MainLayout from "../../layouts/Mainlayout.astro";
import Navbar from "../../components/Navbar.astro";
import en from "../../i18n/en";
import Footer from "../../components/Footer.astro";
---

<MainLayout>
    <Navbar lang="en" t={en} />

    <section id="about">About</section>

    <section id="projects">Projects</section>

    <section id="contact">Contact</section>

    <Footer />
</MainLayout>
