---
import MainLayout from "../layouts/Mainlayout.astro";
import es from "../i18n/es";
---

<MainLayout lang="es" t={es}>
    <section id="about">
        <h1>Sobre mí</h1>
    </section>

    <section id="projects">
        <h1>Proyectos</h1>
    </section>

    <section id="formation">
        <h1>Formación academica</h1>
    </section>
</MainLayout>
