---
import LinkedinIcon from "../assets/linkedin.svg";
import GithubIcon from "../assets/github.svg";
import MailIcon from "../assets/mail.svg";
---

<footer class="footer">
    <div class="footer-socials">
        <a
            href="https://linkedin.com/in/rodrigo-valladares-32b1a6353"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="LinkedIn"
        >
            <img src={LinkedinIcon.src} alt="LinkedIn" />
        </a>

        <a
            href="https://github.com/Suk3t"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="GitHub"
        >
            <img src={GithubIcon.src} alt="GitHub" />
        </a>

        <a
            href="mailto:rodrigo.ignacio2621@gmail.com"
            aria-label="Correo electrónico"
        >
            <img src={MailIcon.src} alt="Email" />
        </a>
    </div>

    <p class="footer-text">Diseñado y desarrollado por Rodrigo Valladares</p>
</footer>
