---
import MainLayout from "../../layouts/Mainlayout.astro";
import Navbar from "../../components/Navbar.astro";
import es from "../../i18n/es";
import Footer from "../../components/Footer.astro";
---

<MainLayout>
    <Navbar lang="es" t={es} />

    <section id="about">Sobre mi</section>

    <section id="projects">Proyectos</section>

    <section id="contact">Contacto</section>

    <Footer />
</MainLayout>
