---
import MainLayout from "../../layouts/Mainlayout.astro";
---

<MainLayout lang="es">
    <section id="about">
        <h1>Sobre mí</h1>
    </section>

    <section id="projects">
        <h1>Proyectos</h1>
    </section>

    <section id="formation">
        <h1>Formación academica</h1>
    </section>
</MainLayout>
